body {
  background-color: rgba(122, 122, 122, 0.48);
  margin: 0;
  padding: 0;
}

.color-switch-grid {
  display: grid;
  gap: 2px;
  margin: 20px auto;
  width: fit-content;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(2, 40px);
}

.color-switch-grid div {
  background-color: #ffffff;
}

.color-switch-grid div:nth-child(4),
.color-switch-grid div:nth-child(5),
.color-switch-grid div:nth-child(6) {
  background-color: #000000;
}

@media (max-width: 600px) {
  .color-switch-grid {
    grid-template-columns: repeat(2, 80px);
    grid-template-rows: repeat(3, 40px);
  }
  .color-switch-grid div:nth-child(3),
  .color-switch-grid div:nth-child(4) {
    background-color: #000000;
  }
  .color-switch-grid div:nth-child(5),
  .color-switch-grid div:nth-child(6) {
    background-color: #ffffff;
  }
}